{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>

<content>
  {{ if .Params.link }}
    <p class="link-url">🔗 <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">Original article</a></p>
  {{ end }}
  
  {{ if .Params.authors }}
    <p class="authors">By {{ delimit .Params.authors ", " " and " }}</p>
  {{ end }}
  
  {{ .Content }}

  {{ with .Params.tags }}
    <p class="tags">
      Tags:
      {{ range . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </p>
  {{ end }}
</content>
{{ end }}